.container {
  margin: 5% 0 5% 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "title title" "form list";
}

.container h1 {
  text-align: center;
  grid-area: title;
}


